<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Train Model</title>
</head>

<body>
    <h1>Management System</h1>
    <button id="joinButton">Join Member</button>
    <button id="searchingBtn">Searching</button>
    <script>
        document.getElementById("joinButton").addEventListener("click", function () {
            window.location.href = "/save";
        });

        document.getElementById("searchingBtn").addEventListener("click", function () {
            window.location.href = "/searching";
        });
    </script>
</body>

</html>